@{
    ViewData["Title"] = "Admin Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <!-- Contact Section -->
    <section id="contact" class="contact section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h3>Signup </h3>
            <p>
                Signup to create account. Already have an account?
                <a asp-controller="Account" asp-action="Login"><b>Sign in</b></a>
            </p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6" data-aos="fade-right" data-aos-delay="200">
                    <div class="contact-form-card">
                        <div class="form-header">
                            <div class="header-icon">
                                <!-- <img src="assets/img/logo.webp" alt="" class="logo1"> -->
                                <i class="bi bi-book"></i>
                            </div>
                            <h3 class="mb-0 mt-5">Create your account </h3>
                            <p class="mt-0">Start your book writing journey today </p>
                        </div>

                        <form class="php-email-form">
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <p class="mt-0 mb-0">FullName </p>
                                    <input type="text" id="fullname" class="form-control" placeholder="Enter your full name" required>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <p class="mt-0 mb-0">Email </p>
                                    <input type="email" class="form-control" id="email" placeholder="Enter your email address" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <p class="mt-0 mb-0"> Password </p>
                                <input type="password" class="form-control" id="pwd" placeholder="Enter your password" required>
                            </div>
                            <div class="mb-3">
                                <p class="mt-0 mb-0"> Confirm Paasword </p>
                                <input type="password" class="form-control" id="confirmpwd" placeholder="Re-enter your password" required>
                            </div>
                            <button type="button" class="submit-btn" id="submit_btn" onclick="RegisterAdmin()">
                                <span>Create Account</span>
                            </button>
                        </form>
                        <div class="mt-5 d-flex align-items-center">
                            <hr class="flex-grow-1">
                            <p class="mx-3 mb-0 text-white">Or continue with</p>
                            <hr class="flex-grow-1">
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-light d-flex align-items-center justify-content-center mx-auto px-4 py-2 shadow-sm">
                                <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"
                                     alt="Google logo"
                                     style="width: 20px; height: 20px; margin-right: 8px;">
                                Continue with Google
                            </button>
                        </div>
                        <p class="mt-5 text-center">
                            Already have an account?
                            <a asp-controller="Account" asp-action="Login"><b>Sign in</b></a>
                        </p>

                    </div>
                </div>

            </div>
        </div>

    </section><!-- /Contact Section -->
</main>