
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <!-- Contact Section -->
    <section id="contact" class="contact section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h3>Password Reset  </h3>
            <p>Bring your ideas to reality. Don't  have an account? 
                <a asp-controller="Account" asp-action="Register"><b>Sign Up</b></a>
            </p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6" data-aos="fade-right" data-aos-delay="200">
                    <div class="contact-form-card">
                        <div class="form-header">
                            <div class="header-icon">
                                <!-- <img src="assets/img/logo.webp" alt="" class="logo1"> -->
                                <i class="bi bi-book"></i>
                            </div>
                            <h3 class="mb-0 mt-5">Reset Your Password </h3>
                            <p class="mt-0">Enter your email address and we will send you a link to reset your password </p>
                        </div>

                        <form class="php-email-form">
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <p class="mt-0 mb-0">Email </p>
                                    <input type="email" class="form-control" id="email" placeholder="Enter your email address" required>
                                </div>
                            </div>
                            <button type="button" class="submit-btn" id="submit_btn" onclick="PasswordReset()">
                                <span>Reset Password</span>
                            </button>
                        </form>
                        <p class="mt-5 text-center">
                            <a asp-controller="Account" asp-action="Login" class="text-white"><i class="bi bi-arrow-left"></i> back to Sign In </a>
                        </p>

                    </div>
                </div>

            </div>
        </div>

    </section><!-- /Contact Section -->
</main>