
@model Core.ViewModels.ApplicationUserViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <!-- Contact Section -->
    <section id="contact" class="contact section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <!-- <h3>Sign In  </h3>
             <p>Bring your ideas to reality. Don't  have an account? <a href="Signup.html"><b>Sign Up</b></a></p> -->
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6" data-aos="fade-right" data-aos-delay="200">
                    <div class="contact-form-card">
                        <div class="form-header">
                            <div class="header-icon">
                                <!-- <img src="assets/img/logo.webp" alt="" class="logo1"> -->
                                <i class="bi bi-book"></i>
                            </div>
                            <h3 class="mb-0 mt-5">Create a new password </h3>
                            <p class="mt-0">Start your book writing journey today </p>
                        </div>

                        <form class="php-email-form">
                            <div class="mb-3">
                                <p class="mt-0 mb-0"> New Password </p>
                                <input type="password" class="form-control" id="newpwd" placeholder="Enter your password" required>
                                <input id="userId" value="@Model.Id" hidden>
                            </div>
                            <div class="mb-3">
                                <p class="mt-0 mb-0"> Confirm New Password </p>
                                <input type="password" class="form-control" id="confirmnewpwd" placeholder="Re-Enter your password" required>
                            </div>
                            <button type="button" class="submit-btn" id="submit_btn" onclick="Reset()">
                                <span>Reset Password</span>
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </section><!-- /Contact Section -->
</main>